/* Fondo general */
body {
  background-color: #f4f4f4;
}

/* Tarjeta */
.login-card {
  width: 100%;
  max-width: 420px;
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}

/* Título */
.titulo {
  color: #6c6c6c;
  font-weight: 600;
}

/* Inputs */
.input-custom {
  height: 50px;
  border-radius: 10px !important;
  border: 1px solid #d4d4d4;
  padding-left: 14px;
  padding-right: 40px;
}

/* Botón */  TAMPOCO FUNCIONAAA
.btn-custom {
  background-color: #7d7d7d;
  color: #fff;
  height: 45px;
  border-radius: 10px;
}

.btn-custom:hover {
  background-color: #5e5e5e;
  color: white;
}

/* Ícono de mostrar contraseña */ AUN NO FUNCIONAAAA
.toggle-pass {
  position: absolute;
  right: 12px;
  top: 12px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.6;
}

.toggle-pass:hover {
  opacity: 1;
}
